# your container name
export DOCKER_CONTAINER=steam

# for games where there's an rcon password
export RCON_PASSWORD=

# get login tokens from https://steamcommunity.com/dev/managegameservers
export CS_GO_LOGIN_TOKEN=
